<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentification</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="devices">Appareils</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="edit">Creer un appareil</a></li>
    </ul>
    <div class="d-flex">Vous êtes connecté depuis {{ second }} seconde(s)</div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>