<div class="col-xs-12 text-center">

    <h2 class="title mt-3">Mes appareils</h2>
    <p>Mise à jour : {{ lastUpdate | async }}</p>

    <ul class="list-group mt-3">

      <app-device *ngFor="let device of devices; let i = index" 
        [indexOfDevice]="i" 
        [deviceName]="device.name" 
        [deviceStatus]="device.status"
        [deviceId]="device.id">
      </app-device>

    </ul>

    <div>
      <button class="btn btn-success m-3" [disabled]="!isAuth" (click)="onTurnOn()">Interrupteur On</button>
      <button class="btn btn-danger m-3" [disabled]="!isAuth" (click)="onTurnOff()">Interrupteur Off</button>
    </div>

  </div>
  