<div class="row text-center">
    <h2 class="title mt-3">Editer un appareil</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group m-3">
            <label for="">Nom de l'appareil</label>
            <input id="name" class="form-control" name="name" ngModel required type="text">
        </div>
        <div class="form-group m-3">
            <label for="">Etat de l'appareil</label>
            <select id="status" class="form-control" name="status" [ngModel]="defaultOnOff">
                <option value="On">Allumé</option>
                <option value="Off">Eteint</option>
            </select>
        </div>
        <button class="btn btn-primary m-3" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
</div>
